<%- include("partials/header"); -%>


<body class ='body-even-darker'>

  
  <div class="blog-div">
      <img id = "hex-img" src="/images/SVG/hex.svg" class="triangle-linear" alt="">
    </div>





  <h1 class = "resume-header">BLOG</h1>
  <p id="homePara-style"><%= blogPara %></p>


  <% for (var i=0; i<newBlogPosts.length; i++ ) { %>
  <h1>
    <%= newBlogPosts[i].title %>
  </h1>
  <p>
    <%= newBlogPosts[i].post_text.substring(0, 100) + " ..."  %>
   <%= console.log(newBlogPosts[i].title);%>
    <a href=<%='/posts/'+newBlogPosts[i].title %>>Read More</a>
  </p>

  <% } %>



  <%- include("partials/footer"); -%>
