<%- include("partials/header"); -%>


<body class ='body-even-darker'>

  
  <div class="blog-div">
      <img id = "hex-img" src="/images/SVG/hex.svg" class="triangle-linear" alt="">
    </div>





  <h1 class = "resume-header">BLOG</h1>
  <div class="blog-post-div">
  <p id="homePara-style"><%= blogPara %></p>
</div>
<p class="blog-style">So here's another crystal growth video:</p>

<div class="blog-video-box">
    <div class="crystal-div">
      <iframe class="crystal-video" src="https://player.vimeo.com/video/142605598" width="640" height="360"
        allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>



  <% for (var i=0; i<newBlogPosts.length; i++ ) { %>
  <h1>
    <%= newBlogPosts[i].title %>
  </h1>
  <p>
    <%= newBlogPosts[i].post_text.substring(0, 100) + " ..."  %>
   <%= console.log(newBlogPosts[i].title);%>
    <a href=<%='/posts/'+newBlogPosts[i].title %>>Read More</a>
  </p>

  <% } %>



  <%- include("partials/footer"); -%>
