<%- include("partials/header"); -%>
  <h1>BLOG</h1>
  <p><%= blogPara %></p>


  <% for (var i=0; i<newBlogPosts.length; i++ ) { %>
  <h1>
    <%= newBlogPosts[i].title %>
  </h1>
  <p>
    <%= newBlogPosts[i].post_text.substring(0, 100) + " ..."  %>
   <%= console.log(newBlogPosts[i].title);%>
    <a href=<%='/posts/'+newBlogPosts[i].title %>>Read More</a>
  </p>

  <% } %>



  <%- include("partials/footer"); -%>
